# Servidor
PORT=3000
NODE_ENV=development

# Banco de Dados (PostgreSQL no Docker)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_NAME=garagem_db

# Autenticação
JWT_SECRET=seu_segredo_jwt_super_seguro
